@use 'sass:color';
@import '../../../styles/style-system';

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 75px);
  padding-top: 90px;
  background-color: #ffffff;
}


.title {
  width: 100%;
  height: 260px;
  background-color: #FAF6FA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NormalChip {
  margin-left: 32px;
  @include label-large ;
  display: inline-flex;
  align-items: center;
  padding: 0 22px;
  height: 34px;
  border-radius: 40px; // 세로 크기의 절반으로 둥글게
  white-space: nowrap; // 텍스트가 줄 바꿈되지 않도록 설정
  border: 1px solid #E9ECEF; // 테두리 색상
  cursor: pointer;
}


.titleText {
  @include display-large;
  color: #333333;
}

.titleSubTitle {
  margin-top: 28px;
  @include body-large;
  color: #666666;
}

.breadcrumb {
  margin-top: 18px;
  .active {
    color: #B81C7E;
  }
}


.innerBox {
  display: flex;
  flex-direction: row;
  width: 1124px;
  height: 110px;
  justify-content: space-between;

}

.infoContainer {
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  
  .ContentWrapper{
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  @include title-medium();
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  
  h1 {
    @include title-large();
    color: #333;
    margin-bottom: 30px;
  }
}

.details {
  width: 100%;
  padding: 40px 30px;
  @include body-medium();
  color: #333;
  line-height: 1.8;
  border: 1px solid #eeeeee;
  border-radius: 0 0 15px 15px;
  border-top: 0;
  
  p {
    margin: 0 0 15px 0;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &:empty {
      margin-bottom: 10px;
    }
  }
}


.infoTitle {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid #eeeeee;
  border-radius: 15px 15px 0 0;
}

.chip {
  @include label-medium();
  min-width: 70px;
  width: auto;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 50px;
  color: #fff;
  margin-right: 20px;
}

.infoTitleText {
  @include title-large();
  color: #0a0a0a;
  height: auto;
  flex: 1;
}

.info1 {
  padding: 0 30px;
  width: 100%;
  height: 60px;
  border: 1px solid #eeeeee;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info2 {
  padding: 15px 30px;
  width: 100%;
  min-height: 60px;
  border: 1px solid #eeeeee;
  border-top: 0;
  display: flex;
  align-items: center;
}

.infoType {
  @include body-small();
  color: #666666;
  white-space: pre;
  margin-right: 15px;
  min-width: 60px;
}
.InnerWrapper{
  display: flex;
  flex-direction: row;
}

.info {
  margin-right: 20px;
  @include body-small();
  color: #121212;
}

.viewOriginal {
  margin-left: 32px;
  width: 92px;
  height: 32px;
  border-radius: 50px;
  background-color: #881977;
  border: none;
  color: white;
  @include body-small;

  &:hover {
    cursor: pointer;
    background-color: #5e1252;


  }
}

.buttonContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomButton {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  background-color: #333;
  border: none;
  color: white;
  @include body-small();
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: #555;
  }
}

.bottomLeftContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.byte {
  margin-left: 10px;
  @include body-small();
  color: #666;
}

.attachmentContainer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attachmentList {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include body-small();
  color: #333;
}

.noAttachment {
  @include body-small();
  color: #999;
  font-style: italic;
  padding: 10px 0;
}
