@use 'sass:color';
@import '../../../styles/style-system';

.container {

  width: 100%;
  display: flex;

  justify-content: center;
  flex-direction: row;
  align-items: center;


  .ManagerSignatureBar {
    position: fixed;
    top: 75px; // 상단 바 높이에 맞게 조정

    width: 100%;
    height: 44px;
    background-color: #333333;
    display: flex;
    align-items: center;
    padding-left: 35px;
    flex-direction: row;

    p {
      margin-left: 10px;
      @include body-medium;
      color: white;
    }
  }

  .menuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    height: 100vh;
    background-color: #1D1D1F;
    gap: 28px;

    .logoIcon {
      margin-top: 28px;
      width: 185px;
      height: 20px;
      object-fit: contain;
    }

    .orderBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      border-radius: 10px;
      background-color: #48484A;
      @include title-small();
      color: #F5F5F7;
      cursor: pointer;
      transition: all 0.2s ease;
      
      &.active {
        background-color: #007AFF;
      }
      
      &:hover {
        opacity: 0.8;
      }
    }

    .completeBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      border-radius: 10px;
      background-color: #48484A;
      @include title-small();
      color: #F5F5F7;
      cursor: pointer;
      transition: all 0.2s ease;
      
      &.active {
        background-color: #34C759;
      }
      
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .mainWrapper {
    padding-top: 45px;
    padding-left: 80px;
    padding-right: 40px;
    background-color: #F5F5F7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .title {
      margin-top: 72px;
      @include display-large();
      color: #121212;
    }

    .subTitle {
      margin-top: 12px;
      @include body-small();
      color: #86868B;
    }

    .orderStatusWrapper {
      margin-top: 54px;
      width: 500px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .todayOrder {
        padding: 16px 18px 16px 18px;
        width: 240px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #E5E5EA;

        p {
          @include label-large();
          color: #86868B;
        }
      ;

        .olderCount {
          margin-top: 12px;
          @include headline-medium();
          color: #1D1D1F;
        }

        .readyCountWrapper {
          margin-top: 12px;
          display: flex;
          align-items: center;
          gap: 8px;
          
          .readyCount {
            @include headline-medium();
            color: #FF9500;
          }
          
          .urgentText {
            @include label-large();
            color: #86868B;
          }
        }
      }

    }
    
    .chipWrapper {
      margin-top: 28px;
      display: flex;
      gap: 12px;
      
      .chip {
        width: 100px;
        height: 36px;
        border-radius: 100px;
        border: 1px solid #E5E5EA;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease;
        
        @include label-large();
        color: #121212;
        
        &:hover {
          opacity: 0.8;
        }
        
        &.chipSelected {
          background-color: #007AFF;
          border-color: #007AFF;
          color: #ffffff;
        }
      }
    }
    .listHeader{
      margin-top: 24px;
      width: 100%;
      background-color: #FFFFFF;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      height: 60px;
      align-items: center;
      padding: 20px 24px;
      
      p{
        @include label-large();
        color: #86868B;
        margin: 0;
        text-align: center;
        
        &:nth-child(1) { // 주문번호
          flex: 1;
          text-align: left;
          padding-left: 25px; // statusColorBar 공간 확보
        }
        
        &:nth-child(2) { // 고객 정보  
          flex: 1.2;
          text-align: left;
        }
        
        &:nth-child(3) { // 파일
          flex: 1;
          text-align: left;
        }
        
        &:nth-child(4) { // 결제 금액
          flex: 1;
          text-align: left;
        }
        
        &:nth-child(5) { // 주문 시간
          flex: 1;
          text-align: left;
        }
        
        &:nth-child(6) { // 작업
          flex: 1;
          text-align: left;
        }
        
        &:nth-child(7) { // 취소 (빈 공간)
          flex: 0.5;
          text-align: left;
        }
      }
    }

    .orderList {
      margin-top: 12px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

  }


}