@use 'sass:color';
@import '../styles/style-system';


.reviewCard {
  border-radius: 12px;
  background-color: #EBEBEB;
  width: 648px;
  height: 345px;
  position: relative;
  
  @media (max-width: 1024px) {
    width: calc(100vw - 80px);
    min-width: 280px;
    height: 300px;
  }
}
.columnLine{
  width: 2px;
  height: 104px;
  background-color: #029FAE;
  position: absolute;
  left: 40px;
  top: 40px;

}

.reviewText {
  @include body-large();
  width: 568px;
  height: 104px;
  color: #0a0a0a;
  position: absolute;
  top: 40px;
  left: 64px;
  
  @media (max-width: 1024px) {
    width: calc(100% - 80px);
    height: auto;
    left: 56px;
    font-size: 14px;
    line-height: 1.5;
  }
}
.profileImage{
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #ffffff;
  top: 245px;
  left: 40px;
  
  @media (max-width: 1024px) {
    width: 48px;
    height: 48px;
    top: 220px;
  }
}

.userName {
  @include title-medium();
  position: absolute;
  top: 251px;
  left: 108px;
  color: #272343;
  
  @media (max-width: 1024px) {
    top: 228px;
    left: 100px;
    font-size: 14px;
  }
}